body{
    background: url('robot.jpg');
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* align-items: center; */
    display: center;
}

#division{
    display: center;
    border: none ;
    margin: 100px 100px 100px 100px;
    text-align: center;
    background-color: rgba(173, 255, 47, 0);
    padding: 50px;
    border-radius: 10px;

}
button{
    margin-bottom: 10px;
    background-color: green;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.button:hover{
    background-color: rgba(0,128 ,0 , 0.6);
}
.button:active{
    background-color: rgba(0,128 ,0 , 0.8);
}


p{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}