body{   
    
    
    background-image: url("sunset1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.loader{
    margin: 20px;
    align-items: center;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 50px;
    border-radius: 10px;
}
img{
    height: 100px;
    width: 150px;
    border-radius: 10px;
    background-color: purple;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: cadetblue;

}
#dashboard{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
button{
    background-color: rgb(16, 1, 16);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 0 20px 0 0;
}
button:hover{
    background-color: purple;
}